.modal {
  display: flex;
  background-color: var(--color-background);

  &-dialog {
    @media screen and (min-width: 800px) {
      width: 700px;
    }
    @media screen and (min-width: 290px) {
      width: 100%;
    }
  }
}