.navbar-wrapper {
  height: 560px;
  background-image: url(../assets/nav-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  background: rgba(0, 0, 0, 0.7);
  .nav-link {
    font-size: 1.2em;
  }
  &-brand {
    font-family: Parkavenue, cursive;
  }
  &-sign-up-button,
  &-login-button {
    background: transparent;
    border: 0;
  }
}